In [1]:
import pandas as pd 
df=pd.read_csv('imdb.csv')
df

                                                  Review  Rating  Sentiment
0      Kurt Russell's chameleon-like performance, cou...      10          1
1      It was extremely low budget(it some scenes it ...       8          1
2      James Cagney is best known for his tough chara...       8          1
3      Following the brilliant "Goyôkiba" (aka. "Hanz...       8          1
4      One of the last classics of the French New Wav...      10          1
...                                                  ...     ...        ...
49995  (spoiler) it could be the one the worst movie ...       4          0
49996  So, you've seen the Romero movies, yes? And yo...       1          0
49997  Just listen to the Broadway cast album and to ...       3          0
49998  I have been a fan of the Carpenters for a long...       3          0
49999  Set in 1945, Skenbart follows a failed Swedish...       1          0

[50000 rows x 3 columns]

In [2]:
import re
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
import nltk 
from nltk.corpus import stopwords 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/brianwaddell/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [4]:
import re 
import numpy as np 

movie_df = pd.read_csv('imdb.csv')

In [5]:
movie_df

                                                  Review  Rating  Sentiment
0      Kurt Russell's chameleon-like performance, cou...      10          1
1      It was extremely low budget(it some scenes it ...       8          1
2      James Cagney is best known for his tough chara...       8          1
3      Following the brilliant "Goyôkiba" (aka. "Hanz...       8          1
4      One of the last classics of the French New Wav...      10          1
...                                                  ...     ...        ...
49995  (spoiler) it could be the one the worst movie ...       4          0
49996  So, you've seen the Romero movies, yes? And yo...       1          0
49997  Just listen to the Broadway cast album and to ...       3          0
49998  I have been a fan of the Carpenters for a long...       3          0
49999  Set in 1945, Skenbart follows a failed Swedish...       1          0

[50000 rows x 3 columns]

In [ ]:
def text_clean(message):
    
#need to remove tag html 
  html_tag = '<br />'
  #  remove tag
  solution = sample.replace(html_tag,'') 
  sample = re.sub(r'[^\w\s]', '', sample)   # remove punctiation marks 
  sample = sample.lower()
  sample = [word for word in sample.split() if word not in stopwords.words('english')]
  sample = ' '.join(sample)
  
  return sample

In [ ]:
test_str = " This is ! a @ test ... with CAPITAL let+=) *) s !"
text_clean(test_str)

In [ ]:
movie_df['Review'] = movie_df['Review'].apply(text_clean)